@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: transparent;
  user-select: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.character {
  width: 256px;
  height: auto;
  -webkit-user-drag: none;
  -webkit-app-region: drag;
  cursor: grab;
}
