@import './base.css';

html,
body,
#root {
  pointer-events: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: transparent;
  user-select: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.character {
  width: 256px;
  height: auto;
  pointer-events: auto;
  -webkit-user-drag: none;
  cursor: grab;
}

.character:active {
  cursor: grabbing;
}
